In [40]:
import pandas as pd
import numpy as np

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score
import joblib

from sklearn import tree

In [2]:
dataframe = pd.read_csv('social-network-ads.csv')
dataframe

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [ ]:
# dataframe.describe()

In [25]:
X = dataframe.drop(columns=['Purchased'])
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [4]:
y = dataframe['Purchased']
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [5]:
# Split the data using train_test_split and XX test YY train
X_train, X_test, y_train,  y_test =train_test_split(X,y,test_size=0.3)

In [26]:
X_train

     Age  EstimatedSalary
209   46            22000
395   46            41000
191   19            26000
195   34            43000
211   52           150000
..   ...              ...
315   39            75000
230   35           147000
374   37            80000
1     35            20000
18    46            28000

[280 rows x 2 columns]

In [27]:
y_train

209    0
395    1
191    0
195    0
211    1
      ..
315    1
230    1
374    0
1      0
18     1
Name: Purchased, Length: 280, dtype: int64

In [42]:
# Initializing and training a model
model = DecisionTreeClassifier()

feature_names =['age', 'est_sal']

model.fit(X_train, y_train)
model

# Saving the model
joblib.dump(model, 'predictor.joblib')

#Visualizing it
tree.export_graphviz(model, out_file='tree.dot', feature_names=['Age', 'Est Sal'], class_names=['0','1'], label='all', filled=True, rounded=True)

In [29]:
# Loading a preasaved model
presaved = joblib.load('predictor.joblib')
predictions = presaved.predict(X_test)
predictions

array([1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1], dtype=int64)

In [30]:
# Predicting values 
predictions = model.predict(X_test)
predictions

array([1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1], dtype=int64)

In [38]:
score = accuracy_score(y_test, predictions)
score

0.8583333333333333